body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #59889b;
    background-color: #fafbfc; 
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    color: #004865;
}

h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
}

h4 {
    font-size: 20px;
    margin: 20px 0 5px
}

a {
    text-decoration: none;
}
input {
    color: #59889b;
}

::-webkit-input-placeholder {
    color: #59889b;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #59889b;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #59889b;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #59889b;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #59889b;
  }

/*==========================================
                HEADER FOOTER
============================================*/

header {
    border-bottom: 1px solid #e2e2e2;
    _box-shadow: 0 2px 21px 0 rgba(0, 72, 101, 0.07);
}

header, footer {
    background-color: #fff;
    align-items: center;
    padding: 10px;
    font-family: 'Fjalla One', sans-serif;
}

header .logo,
footer .logo {
    flex-grow: 1;
    height: 22px;
}

header a {
    color: #59889b;
    transition: all .25s ease-in;
}

header a:hover {
    color: #004865;
}

header .logo span,
footer .logo span {
    background: url('/images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}

footer {
    background-color: #1f1f1f;
    margin-top: 30px;
}

/*==========================================
                   SLIDER
============================================*/

.item-slider {
    height: 700px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
}

.item-slider .caption {
    color: #fff;
    position: absolute;
    right: 0;
    padding: 20px;
    text-align: right;
    width: 320px;
    text-transform: uppercase;
}

.item-slider h4 {
    color: #fff;
    font-weight: 300;
    margin: 0;
}

.item-slider .caption p {
    font-size: 70px;
    margin-top: 0; 
}

/*==========================================
                  SUBSCRIBE
============================================*/
.subscribe_panel {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.subscribe_panel h3 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

.subscribe_panel input {
    border-radius: 24px;
    border: 1px solid #9bc2d1;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin: 10px 0;
}

.subscribe_panel input:focus {
    outline-width: 0; 
}

.subscribe_panel small {
    font-size: 10px;
    line-height: 0;
}

.subscribe_panel .error {
    display: none;
    color: #f44336;
}

.subscribe_panel .success {
    display: none;
    color: #4caf50;
}

.subscribe_panel .error.show,
.subscribe_panel .success.show {
    display: block;
}